extends views/layout
block body
  h2 Edit Recipe - #{recipe.name}
  form(action="/recipe/update/" + recipe._id, method="POST")
    .mb-3
      label.form-label(for='txtTitle') Title
      input#txtTitle.form-control(name="name",type='text' aria-describedby='emailHelp', value=recipe.name)
    .mb-3
      label.form-label(for='exampleInputPassword1') Food preference
      select.form-select(aria-label="Food preference", name="preference")
        option(value="Vegetarian") Vegetarian
        option(value="Vegan") Vegan
        option(value="Meat") Meat
        option(value="Dairy") Dairy
    .mb-3
      label.form-label(for='exampleInputPassword1') Food type
      select.form-select(aria-label="Food type", name="type")
        option(value="Curry") Curry
        option(value="Dessert") Dessert
        option(value="Sides") Sides
        option(value="Breakfast") Breakfast
    .mb-3
      label.form-label(for='exampleInputPassword1') Cuisine
      select.form-select(aria-label="Cuisine preference", name="cuisine")
        option(value="Italian") Italian
        option(value="Mexican") Mexican
        option(value="Indian") Indian
        option(value="Chinese") Chinese
    .mb-3
      label.form-label(for='exampleInputEmail1') Servings
      input#exampleInputEmail1.form-control(type='number' aria-describedby='emailHelp', name="servings",value=recipe.servings)
    .mb-3
      label.form-label(for='exampleInputEmail1') Cooking time
      input#exampleInputEmail1.form-control(type='number' aria-describedby='emailHelp',name="cookingTime",value=recipe.cookingTime)
    .mb-3
      label.form-label(for='exampleInputEmail1') Level of Difficulty
      select.form-select(aria-label="Cuisine preference", name="difficulty")
        option(value="Low") Low
        option(value="Medium") Medium
        option(value="High") High
    .mb-3
      label.form-label(for='exampleFormControlTextarea1') Ingredients
      textarea#exampleFormControlTextarea1.form-control(rows='3', name="ingredients")
        | #{recipe.ingredients}

    button.btn.btn-primary(type='submit') Update
    a.btn.btn-secondary(href="/recipe/" + recipe._id) Cancel
